body {
    background-color: grey;
    padding-left: 25px;
    padding-top: 25px;
    text-align: left;
}

.error {
    color: red;
    font-size: x-small;
    font-family: 'mono';
}

div {
    text-align: left;
    width: 720px;
    padding: 20px 20px 20px 20px;
    border: 1px solid black;
}

.loginPage {
    text-align: left;
    width: 400px;
    padding: 10px;
    border: 1px solid black;
}

.alpha {
    float: right;
}

.regPage {
    text-align: left;
    width: 400px;
    padding: 10px;
    border: 1px solid black;
}