<?php 

session_start();

if ($_SERVER['QUERY_STRING'] == 'noname'){
  session_unset();
}

$username = $_SESSION['username'];

?>

<div>
  <header>
    <h1>
      <a href="../dashboard.php" class="link">
        <span><?php echo $username;?></span>
      </a>
    </h1>

    <!-- <div>
      <a class="link" href="dashboardExtension/myprofile.php">View Profile</a>
      <span> | </span>
      <a class="link" href="dashboardExtension/editprofile.php">Edit Profile</a>
      <span> | </span>
      <a class="link" href="dashboardExtension/changepassword.php">Change Password</a>
    </div> -->

    <!-- <div>
      <a class="link" href="login.php">Logout</a>
    </div> -->
  </header>
</div>
<br />