header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #3a3a3a;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #3a3a3a;
}

h1:first-letter {
  text-transform: uppercase;
}
