h1 {
  text-align: center;
}

.container {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

th,
td {
  padding: 10px;
  text-align: right;
}

td {
  text-align: left;
}

tr:hover {
  background-color: #3c3c3c;
}
